[submodule "rplidar_ros"]
	path = Boring-2D/RPLiDAR/src/rplidar_ros
	url = https://github.com/Slamtec/rplidar_ros.git

[submodule "unilidar_sdk"]
	path = Boring-2D/unilidar_sdk
	url = https://github.com/unitreerobotics/unilidar_sdk.git